

<% if @post.errors.any? %>
<h5><%= t('common.errors') %></h5>
    <% end  %>
<%= form_for @post do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="form-group">
    <%= f.label :summary %>
    <%= f.text_area :summary %>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="form-group">
      <%= f.submit 'Сохранить' %>

  </div>

<% end %>
